<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <div class="centered">
                <h1><%= product.title %></h1>
                <hr>
                <div>
                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>" width="200px" height="auto">
                </div>
                <h2><%= product.price %></h2>
                <p><%= product.description %></p>
                <form action="/cart" class="btn">Add to Cart</form>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>